.analysis-page {
  min-height: 100vh;
  background: #f5f8fd;
}

.analysis-container {
  width: 88%;
  max-width: 1180px;
  margin: auto;
}

.analysis-heading {
  padding: 55px 0 35px;
}

.analysis-heading span {
  color: #2865c7;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1.7px;
}

.analysis-heading h1 {
  color: #182b49;
  font-size: 40px;
  margin: 10px 0;
}

.analysis-heading p {
  color: #718096;
  max-width: 680px;
  line-height: 1.8;
  font-size: 13px;
}

.analysis-grid {
  display: grid;
  grid-template-columns: 1.2fr .8fr;
  gap: 22px;
  padding-bottom: 80px;
}

.upload-card,
.method-card {
  background: white;
  border: 1px solid #e0e6ef;
  border-radius: 15px;
  padding: 35px;
}

.upload-card {
  text-align: center;
}

.upload-icon {
  width: 65px;
  height: 65px;
  margin: auto;

  background: #edf4ff;
  color: #2865c7;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  font-weight: 700;
}

.upload-card h2 {
  margin: 18px 0 7px;
  color: #263952;
  font-size: 22px;
}

.upload-card > p {
  color: #7b8799;
  font-size: 12px;
}

.file-label {
  display: inline-block;

  margin-top: 20px;

  padding: 12px 22px;

  border: 1px solid #b6c9e4;

  color: #2865c7;

  border-radius: 8px;

  font-size: 12px;
  font-weight: 800;

  cursor: pointer;
}

.file-label input {
  display: none;
}

.selected-file {
  margin-top: 20px;

  padding: 13px;

  background: #f4f7fb;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.selected-file strong {
  color: #405067;
  font-size: 12px;
}

.selected-file span {
  color: #8a95a5;
  font-size: 10px;
}

.error-message {
  margin-top: 15px;

  background: #fff1f1;

  color: #a54343;

  border: 1px solid #ffd1d1;

  padding: 10px;

  border-radius: 7px;

  font-size: 11px;
}

.analyze-button {
  width: 100%;

  margin-top: 20px;

  padding: 14px;

  border: none;

  background: #2865c7;

  color: white;

  border-radius: 8px;

  font-size: 12px;
  font-weight: 800;

  cursor: pointer;
}

.analyze-button:disabled {
  opacity: .6;
}


/* METHOD */

.method-card > span {
  color: #2865c7;
  font-size: 9px;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.method-card h2 {
  color: #273b55;
  font-size: 23px;
  margin: 10px 0 25px;
}

.method-step {
  display: flex;
  gap: 14px;

  padding: 15px 0;

  border-bottom: 1px solid #edf0f5;
}

.method-step > b {
  color: #2865c7;
  font-size: 10px;
}

.method-step h3 {
  color: #405067;
  margin: 0 0 4px;
  font-size: 12px;
}

.method-step p {
  color: #8792a3;
  margin: 0;
  font-size: 10px;
  line-height: 1.6;
}

@media (max-width: 850px) {

  .analysis-grid {
    grid-template-columns: 1fr;
  }

}